Checks: '*,
         -altera-*,
         -bugprone-easily-swappable-parameters,
         -bugprone-suspicious-memory-comparison,
         -cert-err33-c,
         -cert-flp37-c,
         -cert-exp42-c,
         -cert-err58-cpp,
         -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
         -concurrency-mt-unsafe,
         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-init-variables,
         -cppcoreguidelines-macro-usage,
         -cppcoreguidelines-no-malloc,
         -cppcoreguidelines-owning-memory,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-const-cast,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -cppcoreguidelines-pro-type-union-access,
         -cppcoreguidelines-pro-type-vararg,
         -cppcoreguidelines-special-member-functions,
         -fuchsia-default-arguments-calls,
         -fuchsia-default-arguments-declarations,
         -fuchsia-multiple-inheritance,
         -fuchsia-statically-constructed-objects,
         -google-build-using-namespace,
         -google-readability-braces-around-statements,
         -google-readability-todo,
         -google-runtime-references,
         -hicpp-avoid-c-arrays,
         -hicpp-braces-around-statements,
         -hicpp-no-array-decay,
         -hicpp-no-malloc,
         -hicpp-signed-bitwise,
         -hicpp-special-member-functions,
         -hicpp-vararg,
         -llvm-header-guard,
         -llvmlibc-callee-namespace,
         -llvmlibc-implementation-in-namespace,
         -llvmlibc-restrict-system-libc-headers,
         -misc-no-recursion,
         -misc-unused-parameters,
         -modernize-avoid-c-arrays,
         -modernize-macro-to-enum,
         -modernize-use-trailing-return-type,
         -modernize-use-using,
         -readability-braces-around-statements,
         -readability-function-cognitive-complexity,
         -readability-identifier-length,
         -readability-magic-numbers,
         -readability-redundant-preprocessor,
         -readability-suspicious-call-argument,
        '
WarningsAsErrors: ''
HeaderFilterRegex: ((?!openssl/).)*
AnalyzeTemporaryDtors: false
FormatStyle: none
User: user
